/* Make sure that padding behaves as expected */
* {
    box-sizing:border-box;
    font-family: 'Quicksand', sans-serif;
}

/* ---------- FOR HEADER SECTION ------------ */

header{
    margin-bottom: 100px;
}
.resume-local{
    background-color: lightgray;
    margin-right: 87rem;
    width: 7rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.downloadImg{
    height: 40px;
    width: auto;
}
.headerText{
    display: inline;
    font-size: 15px;
}

a, a:visited, a:hover, a:active {
    color: inherit !important;
    text-decoration: none !important;
}

@media screen and (max-width: 600px) {

    header{
        margin-bottom: 40px;
    }

    .resume-local{
        margin-right: 15rem;
    }
}


/* ---------- FOR MAIN SECTION ------------ */

.row-local::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 300px;
}
.heading-row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 50px;
}

.top-left{
    width: 60%;
    float: left;
    padding: 15px;
}

.top-right{
    width: 40%;
    float: left;
    padding: 15px;
}

.name{
    font-family: 'Quicksand', sans-serif;
    font-size: 64px !important;
    padding-top: 200px;
    text-align: center;
}

.image{
    padding-top: 75px;
    padding-right: 200px;
    border-radius: 50%;
    height: 20rem;
    width: auto;
}

/* img {
    height: 25rem;

    width: auto;
} */



@media screen and (max-width: 600px) {
    .top-left{
        width: 100%;
    }
    .top-right{
        width: 100%;
    }
    .row-local::after{
        margin-bottom: 150px;
    }
}

/* ---------- FOR ABOUT SECTION ------------ */

.about-left{
    width: 50%;
    float: left;
    padding: 15px;
}

.about-right{
    width: 50%;
    float: left;
    padding: 15px;
}

.heading{
    font-family: 'Quicksand', sans-serif;
    font-size: 46px !important;
    text-align: left;
    padding-left: 164px;
}

.heading-carousel{
    font-family: 'Quicksand', sans-serif;
        /* font-size: 46px !important; */
        /* text-align: left; */
    padding-left: 164px;
    padding-right: 25rem;
}

.subheading-left{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px ;
    font-weight: bold;
    text-align: left;
    padding-bottom: 50px;
    padding-left: 150px;
}

.subheading-right{
    font-family: 'Quicksand', sans-serif;
    font-size: 35px ;
    font-weight: bold;
    text-align: left;
    padding-bottom: 50px;
}



.content{
    font-size: 21px !important;
    text-align: left;
    padding-left: 150px;
    padding-right: 75px;
}

#container-local{
    display: flex;
    flex-wrap: wrap;
}

#container-local > div{
    margin: 20px;
    width: 600px;
}

/* Container for skill bars */
.container-local {
    width: 60%; /* Full width */
    background-color: #ddd; /* Grey background */
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    
}
  
.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
    border-radius: 5px;
}
  
.skill1 {width: 80%; background-color: #2196F3;} /* Green */
.skill2 {width: 51%; background-color: #2196F3;} /* Blue */

@media screen and (max-width: 600px) {
    .about-left{
        width: 100%;
    }
    .about-right{
        width: 100%;
    }
    .heading{
        padding-left: 10px;
    }
    .subheading-left{
        padding-left: 0px;
    }
    .content{
        padding-right: 0px;
        padding-left: 0px;
    }
    
    /* Container for skill bars */
    .container-local {
        width: 90%;
    }
}

/* ---------- FOR TECHNOLOGY SECTION ------------ */

.tech-row{
    margin-left: 155px;
    margin-right: 100px;
}

.tech-row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 300px;
}

.tech-column{
    width: 25%;
    float: left;
    padding: 20px;
    font-size: 21px;
}

.tech-column:hover{
    background-color: rgb(242, 242, 242);
}

.techImages{
    height: 30px;
    width: auto;
    border-radius: 0px;
}

@media screen and (max-width: 600px) {
    .tech-row{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: -200px;
    }

    .tech-column{
        width: 50%;
    }

    .techImages{
        height: 24px;
    }
}


/* --------- FOR ACHIEVEMNTS SECTION ----------- */

.profile {
    border-radius: 50%;
    height: 20rem;
    width: auto;
}

.carousel-local{
    border: 3px black solid;
}


.carousel-image {
    height: 10px !important;
    border: 10px black solid;
    /* width: 80% !important; */
}
.carousel-subheading{
    /* color: #2196F3; */
    color: black;
    font-weight: 800;
    background-color: #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.carousel-subdescription{
    color: #2196F3;
    font-weight: bold;
    background-color: #ddd;
    padding-bottom: 5px;
}

.achievements-row{
    margin-left: 155px;
    margin-right: 100px;
}

.achievements-row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 300px;
}

.achievements-column{
    width: 50%;
    float: left;
    padding: 20px;
    font-size: 21px;
}

.achievements-column:hover{
    background-color: rgb(242, 242, 242);
}

.achivementsImages{
    height: 15rem;
    width: auto;
    border-radius: 0px;
    border: 1px solid black;
}

@media screen and (max-width: 1025px) {
    .achievements-row{
        margin-left: 0px;
        margin-right: 0px;
    }

    .achievements-column{
        width: 100%;
    }
}
@media screen and (max-width: 1300px){
    .achivementsImages{
        height: 14rem;
    }
}

@media screen and (max-width: 600px) {
    .carousel-image{
        height: 10px !important;
        width: 100%;
        border: 10px solid black !important;
    }

    .heading-carousel{
        padding-left: 10px;
        padding-right: 10px;
    }

    .profile {
        padding-left: 15px;
    }
}

@media screen and (max-width: 376px) {
    .achivementsImages{
        height: 10rem;
    }
    .achievements-column{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 426px) {
    .achivementsImages{
        height: 11.5rem;
    }
    .achievements-column{
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* ---------- FOR CONTACT SECTION ------------ */

footer {
    margin-top: 300px;
}

.contact-row{
    margin-left: 155px;
    margin-right: 50rem;
}

.contact-row::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 300px;
}

.contact-column{
    width: 25%;
    float: left;
    padding: 15px;
}

.contactImages{
    height: 50px;
    width: auto;
    border-radius: 0px;
}

@media screen and (max-width: 1351px){
    .contact-row{
        margin-right: 47rem;
    }
}
@media screen and (max-width: 600px) {

    .contact-row{
        margin-left: 0px;
        margin-right: 0px;
    }

    footer {
        margin-top: 200px;
    }

}
